<div class="p-4 h-full flex items-center">
  <div class="mt-4 w-full grid grid-cols-12 gap-4">

    <div class="sm:bg-fuchsia-200 md:bg-green-200 lg:bg-red-200 2xl:bg-yellow-200 xl:bg-blue-200 bg-stone-200 shadow rounded-lg p-4 col-span-12">
      <div class="justify-center flex items-center">
        <div class="flex-shrink-0">
          <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">Click to Spot</span>
        </div>
      </div>
    </div>

    <div class="col-span-4 bg-fuchsia-200 shadow rounded-lg p-4 sm:p-6 xl:p-8">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">Your code</span>
        </div>
      </div>
    </div>

    <div class="col-span-2 bg-fuchsia-200 shadow rounded-lg p-4 sm:p-6 xl:p-8">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none col-span-4">123</span>
        </div>
      </div>
    </div>

    <div class="col-span-3 bg-teal-300 shadow rounded-lg p-4 sm:p-6 xl:p-8">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">Queue size</span>
        </div>
      </div>
    </div>

    <div class="col-span-3 bg-fuchsia-300 shadow rounded-lg p-4 sm:p-6 xl:p-8">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">Last code</span>
        </div>
      </div>
    </div>

    <div class="w-full grid grid-cols-12 col-span-12 gap-4">

      <div class="col-span-6 bg-orange-200 shadow rounded-lg p-4 sm:p-6 xl:p-8 active:bg-orange-500">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">Spot 1</span>
          </div>
        </div>
      </div>

      <div class="col-span-3 bg-teal-300 shadow rounded-lg p-4 sm:p-6 xl:p-8">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">11</span>
          </div>
        </div>
      </div>

      <div class="col-span-3 bg-fuchsia-300 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">122</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
