<div class="lg:col-span-2 col-span-3 bg-teal-300 shadow rounded-lg p-4 sm:p-6 xl:p-8">
  <div class="flex items-center">
    <div class="flex-shrink-0">
      <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">{{ row.spot.queueSize }}</span>
    </div>
  </div>
</div>

<div class="lg:col-span-2 col-span-3 bg-fuchsia-300 shadow rounded-lg p-4 sm:p-6 xl:p-8 ">
  <div class="flex items-center">
    <div class="flex-shrink-0">
      <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">{{ row.spot.lastCode }}</span>
    </div>
  </div>
</div>

<div class="lg:col-span-8 col-span-6 bg-orange-200 shadow rounded-lg p-4 sm:p-6 xl:p-8 active:bg-orange-500">
  <div class="flex items-center">
    <div class="flex-shrink-0">
      <span class="text-lg sm:text-3xl leading-none text-gray-900 select-none">{{ row.spot.title }}</span>
    </div>
  </div>
</div>
